html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


#glass-container {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: #ffffff63 solid 2px;
    left: 40px;
    top: 40px;
    box-shadow: 6px 7px 5px #00000075;
    z-index: -1;
}

#copy-body {
    position: absolute;
    left: -40px;
    top: -40px;
    width: 1000px;
    height: 1000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

#box {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-left: 5px;
    left: 40px;
    top: 40px;
    z-index: 999;
}

path {
    transition: fill .5s;
    fill: #000;
}

path:hover {
    fill: #000;
}

@media only screen and (min-width: 800px) {
    #glass-container {
        width: 900px;
        height: 500px;
    }

    svg {
        width: 900px;
        height: 500px;
        margin-left: 5px;
        left: 40px;
        top: 40px;
    }
    

    #box {
        color: white;
        width: 900px;
        height: 500px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 440px 60px;
        grid-template-areas: "inside-contents"
            "button"
    }

    #inside-contents {
        grid-area: inside-contents;
        overflow: hidden;
        display: grid;
        grid-auto-columns: 625px 275px;
        grid-auto-rows: 70% 15% 15%;
        grid-template-areas:
            "left-info right-info"
            "left-info right-info"
            "city city"
    }

    .cityInfo {
        grid-area: city;
        font-size: 3vh;
        position: relative;
        left: 390px;
    }


    #left-info {
        grid-area: left-info;
    }

    #right-info {
        grid-area: right-info;
    }

    #button {
        grid-area: button;
        justify-self: center;
    }

    #temp {
        font-size: 10vh;
        position: absolute;
        left: 400px;
        top: 145px;
    }

    #temp-degree {
        font-size: 5vh;
    }

    #feelsLike {
        position: absolute;
        left: 400px;
        top: 250px;
    }

    #icon {
        position: absolute;
        top: 90px;
        left: 200px;
        height: 80px;
    }

    #condition {
        font-size: 5vh;
        position: absolute;
        top: 175px;
        left: 146px;
    }

    #arrowIcons {
        height: 80px;
        position: relative;
        top: 90px;
        left: 40px;
    }

    #wind_speed {
        position: absolute;
        font-size: 5vh;
        right: 150px;
        top: 175px;
    }

    #wind_gust {
        position: absolute;
        right: 145px;
        top: 225px;
    }

    #wind_direction {
        position: absolute;
        top: 250px;
        right: 173px;
    }

    #dewpoint {
        position: absolute;
        right: 130px;
        top: 275px;
    }

    #humidity {
        position: absolute;
        top: 300px;
        right: 110px;
    }

    #precip {
        position: absolute;
        top: 440px;
        right: 70px;
    }

}