html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    /*font-family: 'Original Surfer', cursive;
    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Arima Madurai', cursive;
}


#glass-container {
    overflow: hidden;
    border: #ffffff63 solid 2px;
    box-shadow: 6px 7px 5px #00000075;
    z-index: -1;
}

#copy-body {
    position: absolute;
    left: -40px;
    top: -40px;
    width: 1000px;
    height: 1000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

#box {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

path {
    transition: fill .5s;
    fill: #000;
}

path:hover {
    fill: #000;
}

.circle1 {
    border-radius: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;

    -webkit-box-shadow: 0 0 1px 0px rgb(255, 255, 255);
    box-shadow: 0 0 1px 0px rgb(255, 255, 255);
    z-index: 86;
}



@media only screen and (min-width: 800px) {
    #glass-container {
        position: absolute;
        width: 900px;
        height: 500px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }


    #copy-body {
        position: absolute;
        left: -40px;
        top: -40px;
        width: 1000px;
        height: 1000px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(10px);
        z-index: -1;
    }

    #black-opa {
        position: absolute;
        width: 900px;
        height: 500px;
        margin-left: 5px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #left-opa {
        position: absolute;
        width: 900px;
        height: 500px;
        margin-left: 5px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 6;
    }

    #box {
        color: white;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 900px;
        height: 500px;
        z-index: 999;
    }

    #inside-contents {
        overflow: hidden;
        width: 900px;
        height: 400px;
    }

    .cityInfo {
        font-size: 3vh;
        position: relative;
        left: 390px;
    }


    #left-info {
    }

    #right-info {
    }

    #button {

    }

    #temp {
        font-size: 70px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #temp-degree {
        font-size: 5vh;
    }

    #feelsLike {
        position: absolute;
        left: 410px;
        top: 140px;
    }

    #icon {
        position: absolute;
        top: 90px;
        left: 110px;
        height: 80px;
    }

    #condition {
        font-size: 5vh;
        position: absolute;
        top: 160px;
        left: 46px;
    }

    #arrowIcons {
        height: 80px;
        position: relative;
        top: 81px;
        left: 90px;
    }

    #wind_speed {
        position: relative;
        font-size: 5vh;
        left: -25px;
        top: 110px;
    }

    #wind_gust {
        position: relative;
        right: 145px;
        top: 225px;
    }

    #wind_direction {
        position: absolute;
        top: 250px;
        right: 173px;
    }

    #dewpoint {
        position: absolute;
        right: 130px;
        top: 275px;
    }

    #humidity {
        position: absolute;
        top: 300px;
        right: 110px;
    }

    #precip {
        position: absolute;
        top: 440px;
        right: 70px;
    }

    .circle1 {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 5px solid #fcfcfc;
        width: 200px;
        height: 200px;
    }

}